.header {
    background-image: url(img/cover.jpg);
    background-size: cover;
    color: #000000;
    height: 140px;
    overflow: hidden;
    position: relative;
  }

  .header-image {
    width: 100%;
  }

  .main-title{
    font-weight:1000;
color:rgb(255, 255, 255);
font-size: 30;
}

.title0{
    margin: 30px 0px 10px 30px;
}

.menu {
    margin: 40px 0px 20px 50px;
    font-weight:1000;
    font-size: 20px;
}

.menu> ul > li{
    display: inline;
}

.menu-item{
color: #eceff1;
}


.title1{
    margin: 40px 0px 10px 30px;
}

.information{
    width:90%;
    display: flex;
    margin: 40px 0px 10px 30px;
}

.selfie{
    width: 300px;
    height: 400px;
    float: left; 
margin-right: 2em; 
}

.salesman{
    color:black;
font-weight:1000;
font-size: 40px;
}

.text{
    color:black;
font-weight:1000;
font-size: 30px;
}

.number{
    color:black;
    font-weight:1000;
    font-size: 30px;
}

.vk{
    width: 100px;
    height: 80px;
}

.text0{
    color:blue;
    font-weight:1000;
    font-size: 40px;
}

.end{
    background-image: url(img/cover.jpg);
    background-size: cover;
    color: #000000;
    height: 100px;
    overflow: hidden;
    position: relative;
}

.endText{
    margin: 40px 0px 100px 10px;
    color:#eceff1;
    font-weight:1000;
  font-size: 20px;
  }

  @font-face{
    font-family: '01';
    src: url(fonts/01.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body{
    font-family: '01', sans-serif ;
  }