.header {
    background-image: url(img/cover.jpg);
    background-size: cover;
    color: #000000;
    height: 140px;
    overflow: hidden;
    position: relative;
  }

  .header-image {
    width: 100%;
  }

.main-title{
    font-weight:1000;
color:rgb(255, 255, 255);
font-size: 30;
}

.title{
        margin: 30px 0px 10px 30px;
}

.menu {
    margin: 40px 0px 20px 50px;
    font-weight:1000;
    font-size: 20px;
}

.menu > ul > li {
  display: inline;
}

.menu-item {
  color: #eceff1;
}

.information {
  max-width: 90%;
  margin: auto auto 100px auto;
}

.text{
color:black;
font-weight:1000;
font-size: 40px;
}

.pictures0{
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  position: relative;
}

.flowers{
  height:250px;
  width:200px;
}

.end {
  background-image: url(img/cover.jpg);
  background-size: cover;
  color: #000000;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.end-image {
  width: 100%;
}

.endText{
  margin: 40px 0px 100px 10px;
  color:#eceff1;
  font-weight:1000;
font-size: 20px;
}

@font-face{
  font-family:'01';
    src: url(fonts/01.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  font-family: "01", sans-serif;
}

@media (max-width:586px) {
  .text{
    width: auto;
    color:black;
    font-weight:1000;
    font-size: 40px;
    }

    .pictures0{
      justify-content: center;
      flex-wrap: wrap;
      width: auto;
      display: flex;
      flex-direction: column;
      padding: 0 4px;
      position: relative;
    }
    
    .flowers{
      height:150px;
      width:100px;
    }
}