.header {
    background-image: url(img/cover.jpg);
    background-size: cover;
    color: #000000;
    height: 140px;
    overflow: hidden;
    position: relative;
  }

  .header-image {
    width: 100%;
  }

  .main-title{
    font-weight:1000;
color:rgb(255, 255, 255);
font-size: 30;
}

.menu {
    margin: 40px 0px 20px 50px;
    font-weight:1000;
    font-size: 20px;
}

.menu> ul > li{
    display: inline;
}

.menu-item{
color: #eceff1;
}

.title0{
    margin: 30px 0px 10px 30px;
}
@font-face {
    font-family: '01';
    src: url(fonts/01.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: '01', sans-serif ;
  }

  .phoneNumber{
    font-size: 40px;
  }

  ._phoneNumber{
    width: 300px;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .BackCall{
    width: 400px; ;
    border-style:dashed ;
    border-color: rgb(8, 195, 247);
    margin: 40px auto 40px auto;
    background-image: url(img/fon.jpg);
    display: grid;
  place-items: center;
  }

  .BackCall{
    max-width:100%;
  }

  ._BackCall{
    margin: 40px 0px 10px 10px;
  }

  .telephone{
    display: grid;
  place-items: center;
  }

  ._telephone{
    display: grid;
  place-items: center;
  }

  .inputLines{
    display: grid;
  place-items: center;
  }

  ._input-in{
    display: grid;
  place-items: center;
  }

 ._button{
    width: 90px;
 } 

 .end {
  background-image: url(img/cover.jpg);
  background-size: cover;
  color: #000000;
  height: 120px;
  overflow: hidden;
  position: relative;
}

 .endText{
  margin: 40px 0px 100px 10px;
  color:#eceff1;
  font-weight:1000;
font-size: 20px;
}

@media (max-width:576px){
  .BackCall{
    width: 400px; ;
    border-style:dashed ;
    border-color: rgb(8, 195, 247);
    margin: 40px auto 40px auto;
    background-image: url(img/fon.jpg);
    display: grid;
  place-items: center;
  }
  .BackCall{
    max-width:90%;
  }
  ._BackCall{
    font-size: 20px;
    display: grid;
  place-items: center;
  }
  .inputLines{
    display: grid;
  place-items: center;
  }
}